[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
jupyterlab = "==1.2.21"
matplotlib = "*"
nltk = "*"
sklearn = "*"
yellowbrick = "*"
scattertext = "*"
spacy = "*"
plotly = "*"
ipywidgets = ">=7.5"
textblob = "*"

[requires]
python_version = "3.7"
